{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}


    <main class="form-signin text-center w-100 m-auto p-4 rounded shadow-sm bg-white">
        <form method="post">
         
            <div class="mb-4">
                <!-- <img class="mb-2" src="/assets/images/logotipo.svg" width="72" height="72" alt="Logotipo"> -->
                <h1 class="h3 fw-bold">MS Code - Estoque</h1>
            </div>

               {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="alert alert-info">
                You are logged in as {{ app.user.userIdentifier }}. <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

            <div class="form-floating mb-3">
                <input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="name@example.com"  autocomplete="email" required autofocus class="form-control">
                <label for="email">Email</label>
            </div>  
            <div class="form-floating mb-3">
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <label for="senha">Senha</label>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Acessar</button>
            <a href="{{path('app_dashboard')}}" class="btn btn-outline-secondary w-100">Cadastrar</a>
        </form>
    </main>      
{% endblock %}
